/* Brighter blue */
/* blue */
/* FONT VARIABLES */
/* RESPONSIVE BREAKPOINTS */
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px, 10px/16px = 62.5% */ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #101d2c;
  line-height: 1.6;
  min-height: 100vh; }

.container {
  display: grid;
  /* comments for the grid-template-rows */
  grid-template-rows: 10vh 80vh min-content 40vw min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5rem) {
    .container {
      grid-template-rows: 80vh min-content 40vw min-content;
      /* comments for the grid-template-columns */
      grid-template-columns: [sidebar-start] 7rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      /* why only name the columns and not the rows? */ } }

.features {
  /* features go from center-start to center-end - beginning to end of centre 8 grid */
  grid-column: center-start / center-end;
  margin: 15rem 0;
  /* making features grid item a grid container */
  display: grid;
  /* making columns for this 'sub grid'. */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  /* align text to be at the top of the boxes within the grid */
  align-items: start; }

.feature {
  /* Need to make the feature elements themselves individual grids */
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .feature__icon {
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature__text {
    font-size: 1.7rem; }

.footer {
  background-color: #101d2c;
  /* goes all the way from one end to the other end full bleed section */
  grid-column: full-start / full-end; }

.header {
  /* 6/8 columns = for the header, 2/8 columns for the players section */
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba(249, 247, 246, 0.65), rgba(249, 247, 246, 0.65)), url(../img/header-image1.png);
  background-size: cover;
  background-position: center;
  padding: 5rem;
  padding-top: 4rem;
  display: grid;
  /* grid row explanation */
  grid-template-rows: 1fr min-content minmax(6rem, min-content) min-content;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center; }
  .header__headline-text {
    align-self: end; }
  .header__btn {
    align-self: start;
    justify-self: start; }
  .header__corporate-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 15px;
    align-items: center;
    font-size: 1.6rem;
    color: #101d2c;
    text-transform: uppercase; }
    .header__corporate-text::before, .header__corporate-text::after {
      content: '';
      height: 1px;
      display: block;
      background-color: currentColor; }
  .header__corporate-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center; }
    .header__corporate-logos img {
      max-height: 8rem;
      max-width: 100%; }

.players {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end;
  padding: 3rem; }
  .players__list {
    display: grid;
    /* first column for images, second for the text */
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center; }
  .players__img {
    /* width: 160px */
    width: 16rem;
    border-radius: 50%;
    display: block; }
  .players__goals {
    text-transform: uppercase;
    color: #f9f7f6;
    margin-top: -3px; }

.sidebar {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  display: grid;
  display: grid;
  grid-template-columns: 1fr 6rem 1fr;
  grid-template-rows: 2rem 6rem 2rem 6rem; }
  @media only screen and (max-width: 62.5rem) {
    .sidebar {
      /* sidebar to start at the grid line sidebar-start, end at sidebar-end */
      grid-column: sidebar-start / sidebar-end;
      /* second step - want it to span from the beginning of the grid to the end */
      /* (what is meant above is - all the way down the webpage) */
      /* keyword for the end is -1 */
      grid-row: 1 / -1; } }
  .sidebar__badge {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3; }

.menu-toggle {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* WHY? - remember the flex-direction has now been set as column so align-items will now be horizontally */
  align-items: center;
  /* WHY? - remember the flex-direction has now been set as column so justify-content will now be horizontally */
  justify-content: center;
  background-color: #0c22e8;
  position: relative;
  text-align: center; }
  .menu-toggle:hover {
    background-color: #0a19a1; }
  .menu-toggle__inner {
    height: 3rem;
    width: 3rem;
    display: grid;
    align-items: center; }
  .menu-toggle span {
    height: 2px;
    background-color: #f9f7f6; }
    .menu-toggle span::before, .menu-toggle span::after {
      background-color: #f9f7f6;
      height: 2px;
      content: '';
      display: block; }
    .menu-toggle span::before {
      transform: translateY(-1rem); }
    .menu-toggle span::after {
      transform: translateY(0.8rem); }
  .menu-toggle__label {
    font-family: "Lato", sans-serif;
    color: #f9f7f6;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 0.1rem; }

.story {
  /* Set the styles for images */ }
  .story__pictures {
    background-color: #0c22e8;
    grid-column: full-start / col-end 4;
    background-image: linear-gradient(rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.7)), url(../img/stadium-stand.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center; }
  .story__img--1 {
    width: 100%;
    grid-row: 2 / 6;
    grid-column: 1 / 5; }
  .story__img--2 {
    width: 110%;
    z-index: 1;
    grid-row: 1 / 5;
    grid-column: 4 / 7; }
  .story__content {
    background-color: #f9f7f6;
    grid-column: col-start 5 / full-end;
    padding: 6rem 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .story__text {
    font-size: 1.5rem;
    margin-bottom: 4rem; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #0a19a1;
  line-height: 1; }

.heading-2 {
  font-size: 3rem;
  line-height: 1; }
  .heading-2--light {
    color: #aaa; }

.heading-3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #101d2c; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #aaa; }

.btn {
  background-color: #0c22e8;
  color: #f9f7f6;
  border: none;
  border-radius: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #0a19a1; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }
