.banner {
  /* col-end 4 - halfway across the page */
  grid-column: full-start / col-end 4;
}

.slideshow {
  height: 100%;
  overflow: hidden;
  &__wrapper {
    /* display images in a row using flex */
    display: flex;
    /* wrapper of 200vw because 4 images which are 50vw each - each image take up 1/4 of wrapper */
    width: 200vw;
    height: 100%;
    /* because in the keyframes below we are manipulating the slideshow wrapper, we need to define the position
    as relative i.e. to move the wrapper left */
    position: relative;
    animation: slideshow 20s infinite;
  }
}

.slide img {
  height: 100%;
  /* want the width to be half the viewport hence 50vw */
  width: 50vw;
  /* image keeps its aspect ratio (so not stretched) and fills the given dimension. Image = clipped to fit */
  object-fit: cover;
}

/* keyframes percentages? = percentage of the animation duration */
// moving entire slideshow wrapper with some intervals - manipulate using positions
@keyframes slideshow {
  /* in the timeframe of the animation we don't want to image to move for a while - so need to define the 
  left position as 0. This is for 0 to 15% of the animation */
  0% {
    left: 0;
  }
  15% {
    left: 0;
  }
  /* after 0-15% of animation time, want image to be moved to the left by its width - 50vw */
  /* this'll mean first image is entirely hidden and the second one is displayed */
  20% {
    left: -50vw;
  }
  /* second image displayed from 15% to 35% */
  35% {
    left: -50vw;
  }
  /* need we need to hide second image and display the third one - hence -100vw */
  40% {
    left: -100vw;
  }
  /* third image displayed from 40% to 55% */
  55% {
    left: -100vw;
  }
  /* need to hide third image and display fourth one - hence -150vw */
  60% {
    left: -150vw;
  }
  /* fourth image displayed from 60% to 75% */
  75% {
    left: -150vw;
  }
  // then need to return back to the original image hence left: 0vw;
  80% {
    left: 0vw;
  }
  95% {
    left: 0vw;
  }
}
