.banner {
  /* col-end 4 - halfway across the page */
  grid-column: full-start / col-end 4;
}

.slideshow {
  height: 100%;
  overflow: hidden;
  &__wrapper {
    /* display images in a row using flex */
    display: flex;
    /* justify-content: space-evenly; */
    /* wrapper of 400% because 4 images - each image take up 1/4 of wrapper */
    width: 200vw;
    height: 100%;
    position: relative;
    animation: slideshow 20s infinite;
  }
}

.slide img {
  height: 100%;
  /* want the width to be half the viewport */
  width: 50vw;
  /* image keeps its aspect ratio and fills the given dimension. Image = clipped to fit */
  object-fit: cover;
}

/* keyframes percentages? = percentage of the animation duration */
@keyframes slideshow {
  0% {
    left: 0;
  }

  10% {
    left: 0;
  }

  15% {
    left: -50vw;
  }

  25% {
    left: -50vw;
  }

  30% {
    left: -100vw;
  }

  40% {
    left: -100vw;
  }

  45% {
    left: -150vw;
  }

  55% {
    left: -150vw;
  }

  60% {
    left: -100vw;
  }

  70% {
    left: -100vw;
  }

  75% {
    left: -50vw;
  }

  85% {
    left: -50vw;
  }

  90% {
    left: 0;
  }
}
