$color-primary: #0c22e8; /* Brighter blue */
$color-primary-dark: #0a19a1; /* blue */

$color-secondary: #101d2c;

$color-grey-1: #f9f7f6;
$color-grey-2: #aaa;

/* FONT VARIABLES */
/* For general body */
$font-primary: 'Nunito', sans-serif;
/* For titles */
$font-display: 'Lato', sans-serif;

/* RESPONSIVE BREAKPOINTS */
$bp-largest: 87.5em; // 1400px divided by 16 (16 -> default font-size for a browser)
$bp-large: 62.5em; // 1000px divided by 16
$bp-medium: 50em; // 800px divided by 16
$bp-small: 37.5em; // 600px divided by 16
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}

body {
  font-family: $font-primary;
  color: $color-secondary;
  line-height: 1.6;
  min-height: 100vh;
}

.container {
  display: grid;
  /* comments for the grid-template-rows */
  // 80% of the view-height, then min-content - smallest size of box without overflowing content.

  grid-template-rows: 10rem 10rem calc(100vh - 20rem) 80vh min-content repeat(
      2,
      min-content
    );
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  /* AFTER NOTES */
  // why only name the columns and not the rows?
  // in overall layout focus is generally on the columns and not the rows - columns more important
  @media only screen and (max-width: $bp-largest) {
    grid-template-rows: 10rem 10rem 120vh calc(100vh - 20rem) calc(
        100vh - 20rem
      );
  }
}
