$color-primary: #0c22e8; /* Brighter blue */
$color-primary-dark: #0a19a1; /* blue */

$color-secondary: #101d2c;

$color-grey-1: #f9f7f6;
$color-grey-2: #aaa;

/* FONT VARIABLES */
$font-primary: 'Nunito', sans-serif;
$font-display: 'Lato', sans-serif;

/* RESPONSIVE BREAKPOINTS */
$bp-largest: 75em; // 1200px divided by 16 (default font-size for a browser)
$bp-large: 62.5rem; // 1000px divided by 16 (default font-size for a browser)

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: $color-secondary;
  line-height: 1.6;
  min-height: 100vh;
}

.container {
  display: grid;
  /* comments for the grid-template-rows */
  // 80% of the view-height, then min-content - smallest size of box without overflowing content.
  // 40% of view-width - whats visible in the viewport depending on how wide you make screen.
  grid-template-rows: 80vh min-content 40vw min-content;
  /* comments for the grid-template-columns */
  // column layout specified below  1140/8 = 142px -> 140px -> 14rem because 14rem = 140px
  // something between 1100 - 1200 px to divide up width of the screen
  // function below - minmax - minimum it can be = min-content, max it can be per column = 14rem
  // 8rem is for sidebar
  // need to center the 8 minmax function columns - by put 1fr either side of the 8 min-max section
  // mixmax 6rem, 1fr units will be first to shrink. without the 8rem sidebar - min of 60px (6rem) width
  grid-template-columns:
    [sidebar-start] 13rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start]
    repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
  // AFTER NOTES
  /* why only name the columns and not the rows? */
  // in overall layout focus is generally on the columns and not the rows - columns more important
}
