.games {
  &__container {
    display: grid;
    grid-template-rows: 10rem 1fr;
  }
  &__title {
    grid-row: 1 /2;
    background-color: $color-primary-dark;
    display: flex;
    /* align title horizontally */
    justify-content: center;
    /* align title vertically */
    align-items: center;
  }
}

.table {
  &__content {
    display: grid;
    /* aligin content vertically at start */
    align-content: start;
    /* collapse all table borders into single border */
    border-collapse: collapse;
  }
  &__headers {
    background-color: $color-grey-2;
    font-size: 1.5rem;
  }
  &__row {
    background-color: $color-grey-1;
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
    }
    &--THG:hover {
      background-color: $color-primary-dark;
      color: $color-grey-1;
    }
    &--Lions:hover {
      background-color: #b31900;
      color: $color-grey-1;
    }
    &--EGFC:hover {
      background-color: black;
      color: #f6be00;
    }
  }
}

th,
td {
  padding: 1rem;
}

.wpos:hover td {
  color: #000000;
}

table .col {
  border-bottom: 1px solid #ffffff;
}
