.header {
  /* 6/8 columns = for the header, 2/8 columns for the players section */
  // please note comment above doesn't include outer parts - (1fr parts - for full bleed)
  // 8 columns are only for the central section
  // col-end 6? - ends after the sixth column - at the end of col 6
  grid-column: full-start / col-end 6;
  /* MEDIA QUERY - when width of screen is 87.5rem ($bp-largest) */
  @media only screen and (max-width: $bp-largest) {
    grid-column: full-start / full-end;
  }
  //overlay - best way to create is with linear gradient. ../img - need to get out of sass folder
  background-image: linear-gradient(
      rgba($color-grey-1, 0.7),
      rgba($color-grey-1, 0.7)
    ),
    url(../img/training-top.png);
  background-size: cover;
  background-position: center;
  padding: 5rem;

  display: grid;
  /* grid row explanation */
  // 1fr - have logo on top - push all elements down to the bottom.
  // Fractional unit (if nothing set for other rows) means they will be set automatically.
  // 1fr fills up all space that is avaliable-mthe other rows would be set automatically (minimum size they need)
  // why does this all work also? defined height of 80vh - grid container. (80% of viewport height)
  // min 10rem before breaks onto a new line - hence minmax
  grid-template-rows: 1fr min-content minmax(10rem, min-content) min-content;
  // make the columns ALL as wide as the max piece of content. Max it can be is max content.
  // But minimum content could be is min-content. Could have specified rem - but instead
  // 'Column should never be more narrow than the content' i.e. min-content
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  // center entire grid track inside of the container
  justify-content: center;

  &__headline-text {
    align-self: end;
  }

  &__btn {
    // justify-self: start otherwise button will take up whole area of the grid cell
    // remember - button is 1fr - so will use all space otherwise
    align-self: center;
    justify-self: start;
  }

  &__corporate-text {
    display: grid;
    // need max-content cause don't want text to break onto new line - want corporate partners same line
    grid-template-columns: 1fr max-content 1fr;
    // need space between sudo before and after elements and text
    grid-column-gap: 15px;
    // need to vertically align these three items
    align-items: center;
    font-size: 2rem;
    color: $color-secondary;
    text-transform: uppercase;
    &::before,
    &::after {
      // define content property as empty - otherwise before and after elements don't work
      content: '';
      height: 1px;
      display: block;
      // currentColor takes current text colour defined in color property
      background-color: currentColor;
    }
  }

  &__corporate-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    // center items in the grid horizontally
    justify-items: center;
    img {
      // images all need the same height - if it was same width they might have different heights
      // use max-height and a percentage max width to make the images responsive
      max-height: 8rem;
      // when height is less then 2.5rem the max-width will decrease
      max-width: 100%;
    }
  }
}
