.header {
  /* 6/8 columns = for the header, 2/8 columns for the players section */
  // please note comment above doesn't include outer parts - (1fr parts - for full bleed)
  // 8 columns are only for the central section
  // col-end 6? - ends after the sixth column - at the end of col 6
  grid-column: full-start / col-end 6;
  //overlay - best way to create is with linear gradient. ../img - need to get out of sass folder
  background-image: linear-gradient(
      rgba($color-grey-1, 0.65),
      rgba($color-grey-1, 0.65)
    ),
    url(../img/header-image1.png);
  background-size: cover;
  background-position: center;
  padding: 5rem;
  padding-top: 4rem;

  display: grid;
  /* grid row explanation */
  // 1fr - have logo on top - push all elements down to the bottom.
  // Fractional unit (if nothing set for other rows) means they will be set automatically.
  // 1fr fills up all space that is avaliable-mthe other rows would be set automatically (minimum size they need)
  // why does this all work also? defined height of 80vh - grid container. (80% of viewport height)
  grid-template-rows: 1fr min-content minmax(6rem, min-content) min-content;
  // make the columns ALL as wide as the max piece of content
  grid-template-columns: max-content;
  grid-row-gap: 1.5rem;
  // center entire grid track inside of the container
  justify-content: center;

  &__headline-text {
    align-self: end;
  }

  &__btn {
    // need align-self:start and justify-self: start otherwise button will take up whole area of the grid cell
    // remember - button is 1fr - so will use all space otherwise
    align-self: start;
    justify-self: start;
  }

  &__corporate-text {
    display: grid;
    // need max-content cause don't want text to break onto new line - want corporate partners same line
    grid-template-columns: 1fr max-content 1fr;
    // need space between sudo before and after elements and text
    grid-column-gap: 15px;
    // need to vertically align these three items
    align-items: center;
    font-size: 1.6rem;
    color: $color-secondary;
    text-transform: uppercase;
    &::before,
    &::after {
      // define content property as empty - otherwise before and after elements don't work
      content: '';
      height: 1px;
      display: block;
      // currentColor takes current text colour defined in color property
      background-color: currentColor;
    }
  }

  &__corporate-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    // center items in the grid horizontally
    justify-items: center;
    img {
      // images all need the same height - if it was same width they might have different heights
      height: 8rem;
    }
  }
}
