.second-nav {
  &__container {
    background-color: $color-grey-1;
    display: grid;
    grid-column: full-start / full-end;
    grid-template-columns: 10rem 1fr;
  }
  &__badge {
    grid-column: 1 /2;
    width: 8rem;
    padding: 0.5rem;
  }
  &__content {
    grid-column: 2 / 10;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    list-style: none;
  }
}

// Hamburger menu
.menu-toggle {
  @media only screen and (max-width: $bp-large) {
    /* only want to display the hamburger icon on smaller devices */
    display: flex;
  }
  display: none;
  grid-column: 9 / 10;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;

  flex-direction: column;
  // this will align everything horizontally
  /* WHY? - remember the flex-direction has now been set as column so align-items will now be horizontally */
  align-items: center;
  // this will align everything vertically
  /* WHY? - remember the flex-direction has now been set as column so justify-content will now be vertically */
  justify-content: center;
  background-color: $color-primary;
  position: relative;
  text-align: center;

  &:hover {
    background-color: $color-primary-dark;
  }

  &__inner {
    // define the inner container (with span and before and after elements) as a grid to group
    display: grid;
    // align them vertically centrally - rather than at top of blue button as before
    align-items: center;
    // define height and width of the grid with the span and before & after elements in it
    height: 3rem;
    width: 3rem;
  }
  span {
    height: 2px;
    background-color: $color-grey-1;
    &::before,
    &::after {
      background-color: $color-grey-1;
      height: 2px;
      // need to define a content
      content: '';
      display: block;
    }
    &::before {
      // move before element up
      transform: translateY(-1rem);
    }
    &::after {
      // move after elements down
      transform: translateY(0.8rem);
    }
  }

  &__label {
    font-family: $font-display;
    color: $color-grey-1;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 0.1rem;
  }
}
