.first-nav {
  &__container {
    background-color: $color-primary-dark;
    display: grid;
    grid-column: full-start / full-end;
  }
  &__content {
    /* I want the first navbar to start halfway along the page horizontally - from column 5 */
    grid-column: 5 / 10;
    grid-template-rows: repeat(2, min-content);
    /* give sign up, cart etc a little space from the top of the container */
    margin-top: 1.6rem;
  }

  &__list {
    display: grid;
    /* minmax(10rem, 1fr); minimum width of each column is 10rem, max width of 1fr. autofit = as many 
    columns as possible in in grid containers width. 1fr = 1 part of the space available */
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    /* get rid of default bullets */
    list-style: none;
  }

  /* provide first-nav elements some styles */
  &__link {
    /* get rid of default link styles */
    text-decoration: none;
    font-size: 1.6rem;
    color: $color-grey-1;
    /* when an element is inline-block it still behaves like an inline element, but 
  in this case we are able to define the width for it */
    display: inline-block;
    /* center items in grid cells - need element to take up entire width of grid cell */
    width: 100%;
    text-align: center;
  }
  &__link span {
    font-size: 1.3rem;
  }
  /* sizing the favicons in first nav */
  &__link i {
    font-size: 1.3rem;
    /* providing some space on the right side */
    margin-right: 0.3rem;
  }
}

// Search Form section - second part of First Navbar
.search {
  /* I want the search typing field to start 4/5 (or 6/10) along the page horizontally - (from column 6) */
  /* I want the search typing field to finish 9/10 along the page horizontally */
  grid-column: 6 / 9;
  display: inline-block;
  /* center items in grid cells - need element to take up entire width of grid cell */
  width: 100%;
  text-align: center;
  &__form {
    display: grid;
    /* divide form element into 10 columns - each 10% width */
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  &__input {
    grid-row: 1 /2;
    grid-column: 6 / 9;
    /* top and botton 0.3rem, left and right 0.4rem */
    padding: 0.3rem 0.4rem;
    font-size: 1.3rem;
    /* getting rid of the border around the search bar */
    border: none;
    /* change the background-color of inside of the search section to dark blue,
    in line with the rest of the first nav */
    background-color: $color-primary-dark;
    /* change bottom border of search bar to white */
    border-bottom: 0.1rem solid $color-grey-1;
    outline: none;
    font-family: $font-primary;
    /* change the color of text I'm inputing into the search bar */
    color: $color-grey-1;
    /* change color of the placeholder Search message in the search bar */
    &::placeholder {
      color: $color-grey-1;
    }
  }
  &__btn {
    grid-row: 1 / 2;
    grid-column: 8 / 9;
    border: none;
    /* get rid of grey background box around the question mark */
    background-color: transparent;
    /* change the color of the question mark */
    color: $color-grey-1;
    cursor: pointer;
  }
}
