.players {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;

  &__list {
    display: grid;
    /* first column for images, second for the text */
    // image is 16rem - so going to set it to min-content - so it fits the image nicely
    // for the text - using max-content - (so doesn't create any line breaks in our text)
    grid-template-columns: min-content max-content;
    //need to define some spacing - columns and rows
    grid-column-gap: 2rem;
    // row 5% of viewport height - because margin spacing should change whenever change height of viewport
    grid-row-gap: 5vh;
    align-items: center;
  }

  &__img {
    /* width: 160px */
    width: 16rem;
    border-radius: 50%;
    display: block;
  }

  &__goals {
    text-transform: uppercase;
    color: $color-grey-1;
    // move the text up slightly so not too far away from players names
    margin-top: -3px;
  }
}
