.players {
  background-color: $color-primary-dark;
  display: grid;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  // align the whole players grid in the overall players box centrally
  // align-content = centered vertically
  align-content: center;
  // justify-content = centered horizontally
  justify-content: center;
  // list is treated as second row (implicit grid - so grid-row-gap provides space
  // space is 2rem between top 3 goalscorers and the images/ list in list
  grid-row-gap: 2rem;
  // center the title horizontally
  justify-items: center;

  /* MEDIA QUERY - when width of screen is 62.5rem ($bp-large */
  @media only screen and (max-width: $bp-large) {
    grid-column: full-start / full-end;
    justify-content: space-evenly;
  }
  &__list {
    display: grid;
    /* first column for images, second for the text */
    // image is 13rem - so going to set it to min-content - so it fits the image nicely
    // for the text - using max-content - (so doesn't create any line breaks in our text)
    grid-template-columns: min-content max-content;
    //need to define some spacing - columns and rows
    grid-column-gap: 2rem;
    // row 5% of viewport height - because margin spacing should change whenever change height of viewport
    grid-row-gap: 5vh;
    // align the text in grid vertically
    align-items: center;
    justify-items: center;
    @media only screen and (max-width: $bp-largest) {
      grid-column-gap: 1.2rem;
      grid-row-gap: 3vh;
    }
    @media only screen and (max-width: $bp-large) {
      // min-content for the image. text = max-content - so doesn't create any line breaks in our text
      grid-template-columns: repeat(3, min-content max-content);
    }
    @media only screen and (max-width: $bp-small) {
      // 6rem for the image - min-content for the text- (accept line breaks - minimum needed)
      grid-template-columns: repeat(3, 6rem min-content);
    }
    @media only screen and (max-width: $bp-smallest) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    /* width: 130px */
    width: 13rem;
    border-radius: 50%;
    display: block;
    @media only screen and (max-width: $bp-large) {
      width: 7.5rem;
    }
  }

  &__goals {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $color-grey-1;
    // move the text up slightly so not too far away from players names
    margin-top: -3px;
    @media only screen and (max-width: $bp-large) {
      font-size: 0.75rem;
      margin-top: 0px;
    }
  }
  &__name {
    @media only screen and (max-width: $bp-large) {
      line-height: 1.7rem;
    }
  }
}
