.progress-timeline {
  &__container {
    background-color: $color-primary-dark;
    display: grid;
    grid-column: full-start / full-end;
    align-content: center;
    justify-content: center;
  }
  &__content {
    display: flex;
  }
}
