.sea-serpent {
  &__container {
    grid-column: col-end 4 / col-end 7;
    display: grid;
    grid-template-rows: 40rem calc(100vh - 40rem);
  }
  &__content {
    grid-row: 1 /2;
    background-image: linear-gradient(
        rgba($color-primary, 0.2),
        rgba($color-primary-dark, 0.5)
      ),
      url(../img/sea-serpent.png);
    background-repeat: no-repeat;
    /* first value = horizontal position. second = vertical. Top left corner = 0% 0%, 
    right corner = 100% 100% */
    background-position: 50% 60%;
    background-size: cover;
    @media only screen and (max-width: $bp-large) {
      grid-column: full-start / full-end;
    }
  }
  &__ripple {
    width: 50rem;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__ripple span {
    position: absolute;
    z-index: 5;
    transform: rotateX(80deg);
    box-sizing: border-box;
    border: 4px solid blue;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    animation-delay: calc(-0.5s * var(--i));
  }
  &__ripple:nth-child(2) span {
    animation: animate2 5s linear infinite;
    translate: -800px 0;
    border: 8px solid #6699cc;
    animation-delay: calc(-0.5s * var(--i));
  }
  &__ripple:nth-child(3) span {
    animation: animate3 5s linear infinite;
    border: 10px solid #00577b;
    translate: -400px -800px;
    animation-delay: calc(-0.5s * var(--i));
  }
}
@keyframes animate {
  0% {
    width: 20rem;
    height: 20rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 50rem;
    height: 50rem;
    opacity: 0;
  }
}

@keyframes animate2 {
  0% {
    width: 20rem;
    height: 20rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 50rem;
    height: 50rem;
    opacity: 0;
  }
}
@keyframes animate3 {
  0% {
    width: 20rem;
    height: 20rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 40rem;
    height: 40rem;
    opacity: 0;
  }
}
