.sea-serpent {
  &__container {
    grid-column: col-end 4 / col-end 7;
    display: grid;
    grid-template-rows: 40rem calc(100vh - 40rem);
  }
  &__content {
    grid-row: 1 /2;
    background-image: linear-gradient(
        rgba($color-primary, 0.2),
        rgba($color-primary-dark, 0.5)
      ),
      url(../img/sea-serpent.png);
    background-repeat: no-repeat;
    /* first value = horizontal position. second = vertical. Top left corner = 0% 0%, 
    right corner = 100% 100% */
    background-position: 50% 60%;
    background-size: cover;
    @media only screen and (max-width: $bp-large) {
      grid-column: full-start / full-end;
    }
  }
}
