.sea-serpent {
  &__container {
    grid-column: col-end 4 / full-end;
    @media only screen and (max-width: $bp-large) {
      grid-column: full-start / full-end;
    }
    display: grid;
  }
  &__content {
    background-image: url(../img/sea-serpent.png);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: cover;
  }
}
