.sea-serpent {
  &__container {
    grid-column: col-end 4 / col-end 7;
    display: grid;
    grid-template-rows: 40rem calc(100vh - 60rem);
  }
  &__content {
    grid-row: 1 /2;
    background-image: linear-gradient(
        rgba($color-primary-dark, 0.5),
        rgba($color-primary, 0.1)
      ),
      url(../img/sea-serpent.png);
    background-repeat: no-repeat;
    /* first value = horizontal position. second = vertical. Top left corner = 0% 0%, 
    right corner = 100% 100% */
    background-position: 50% 60%;
    background-size: cover;
    filter: blur(0.05rem);
    @media only screen and (max-width: $bp-large) {
      grid-column: full-start / full-end;
    }
  }
  &__ripple {
    width: 50rem;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__ripple span {
    position: absolute;
    transform: rotateX(80deg);
    box-sizing: border-box;
    /* border styles for the ripples */
    border-bottom: 0.3rem solid #00577b;
    border-left: 0.3rem solid #00577b;
    border-right: 0.3rem solid #00577b;
    border-radius: 50%;
    translate: -8rem 10rem;
    animation: ripple 5s linear infinite;
    animation-delay: calc(-0.5s * var(--i));
  }
  &__ripple:nth-child(2) span {
    animation: ripple2 5s linear infinite;
    translate: -8rem -40rem;
    /* border styles for the ripples */
    border-bottom: 0.5rem solid #043950;
    border-left: 0.5rem solid #043950;
    border-right: 0.5rem solid #043950;

    animation-delay: calc(-0.5s * var(--i));
  }
  &__ripple:nth-child(3) span {
    animation: ripple3 5s linear infinite;
    border-bottom: 0.3rem solid $color-primary-dark;
    border-left: 0.3rem solid $color-primary-dark;
    border-right: 0.3rem solid $color-primary-dark;
    translate: -8rem -90rem;
    animation-delay: calc(-0.5s * var(--i));
  }
}
@keyframes ripple {
  0% {
    width: 11rem;
    height: 11rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 25rem;
    height: 25rem;
    opacity: 0;
  }
}

@keyframes ripple2 {
  0% {
    width: 11rem;
    height: 11rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 30rem;
    height: 30rem;
    opacity: 0;
  }
}
@keyframes ripple3 {
  0% {
    width: 11rem;
    height: 11rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 35rem;
    height: 35rem;
    opacity: 0;
  }
}

.cards {
  &__container {
    grid-row: 2 /3;
    /* display flex makes them alinged in a row */
    display: flex;
    background-color: $color-secondary;
    /* align items centerally vertically - within flex box */
    align-items: center;
  }
}

.panel {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1rem;
  /* don't want the height to be 100% of container */
  height: 90%;
  /* width of an initial value of 0.5 for each of them */
  flex-grow: 0.5;
  /* flex-basis ensure flexbox ensure columns are distributed evenly */
  flex-basis: 0;
  /*  in cases where the width of the column content is forced (for example with image width or white-space: 
  nowrap), the solution is to set min-width: 0 */
  min-width: 0;
  /* seperate the boxes slightly */
  margin: 0.5rem;
  cursor: pointer;
  transition: flex 0.7s ease-in;

  &__text {
    /* want to make text invisible unless clicking on panel */
    opacity: 0;
  }
  &__one {
    background-image: url(../img/panel/player-flag.png);
  }
  &__two {
    background-image: url(../img/panel/goalkeeper.png);
  }
  &__three {
    background-image: url(../img/panel/membership-badge.png);
  }
  &__four {
    background-image: url(../img/panel/corner-flag.png);
  }
  &__five {
    background-image: url(../img/panel/huddle.png);
  }
}

.panel.active {
  flex: 3;
}

.panel.active p {
  opacity: 1;
}

@media only screen and (max-width: $bp-large) {
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
