.sidebar {
  background-color: $color-grey-1;
  /* sidebar to start at the grid line sidebar-start, end at sidebar-end */
  grid-column: sidebar-start / sidebar-end;
  /* second step - want it to span from the beginning of the grid to the end */
  /* (what is meant above is - all the way down the webpage) */
  /* keyword for the end is -1 */
  grid-row: 1 / -1;

  display: grid;
  grid-template-columns: 1fr 15rem 1fr;
  &__badge {
    width: 100%;
    grid-column: 2 / 3;
  }
}
