.sidebar {
  background-color: $color-grey-1;
  /* sidebar to start at the grid line sidebar-start, end at sidebar-end */
  grid-column: sidebar-start / sidebar-end;
  /* second step - want it to span from the beginning of the grid to the end */
  /* (what is meant above is - all the way down the webpage) */
  /* keyword for the end is -1 */
  grid-row: 1 / -1;

  display: grid;
  grid-template-columns: 1fr 10rem 1fr;
  grid-template-rows: 2rem 10rem 2rem 10rem;
  &__badge {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.menu-toggle {
  grid-column: 2 / 3;
  grid-row: 4 /5;
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
  background-color: $color-primary-dark;
  position: relative;
  text-align: center;

  &__inner {
    height: 4rem;
    width: 4rem;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    align-items: center;
  }
  span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: $color-grey-1;
    &::before,
    &::after {
      background-color: #fff;
      height: 3px;
      content: '';
      display: block;
    }
    &::before {
      transform: translateY(-1.3rem);
    }
    &::after {
      transform: translateY(1.1rem);
    }
  }

  &__label {
    display: block;
  }
}
