.sidebar {
  background-color: $color-grey-1;
  /* sidebar to start at the grid line sidebar-start, end at sidebar-end */
  grid-column: sidebar-start / sidebar-end;
  /* second step - want it to span from the beginning of the grid to the end */
  /* (what is meant above is - all the way down the webpage) */
  /* keyword for the end is -1 */
  grid-row: 1 / -1;

  display: grid;
  grid-template-columns: 1fr 10rem 1fr;
  grid-template-rows: 2rem 10rem 2rem 10rem;
  &__badge {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.nav-btn {
  grid-column: 2 / 3;
  grid-row: 4 / 5;

  border: none;
  border-radius: 0;

  background-color: $color-primary-dark;
  height: 2px;
  width: 4.5rem;
  content: '';
  display: block;

  &::before,
  &::after {
    background-color: $color-primary-dark;
    height: 2px;
    width: 4.5rem;
    content: '';
    display: block;
  }

  &::before {
    transform: translateY(-1.5rem);
  }
  &::after {
    transform: translateY(1.3rem);
  }
}
