.story {
  &__pictures {
    background-color: $color-primary;
    grid-column: full-start / col-end 4;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    //align image in the center of the container vertically.
    // needs to be done cause images have aspect ratio - need to be aligned.
    align-items: center;
  }
  /* Set the styles for images */
  &__img--1 {
    width: 100%;
    grid-row: 3 / 6;
    grid-column: 2 / 6;
  }

  &__img--2 {
    width: 110%;
    z-index: 1;
    grid-row: 1 / 6;
    grid-column: 4 / 7;
  }

  &__content {
    background-color: $color-grey-1;
    grid-column: col-start 5 / full-end;
    padding: 6rem 8vw;
    //using flex to center - only 1 dimensional - didn't need grid
    display: flex;
    flex-direction: column;
    //vertically centered
    justify-content: center;
    align-items: flex-start;

    // Could've done this with grid - display: grid, align-content: center
    // equivalent of align-items? justify-items: start - align rows in grid
  }

  &__text {
    font-size: 1.5rem;
    // ok to use margin-bottom here because story__text is not going to be a re usable element
    margin-bottom: 4rem;
  }
}
