.table-sale {
  &__container {
    grid-column: col-end 7 / full-end;
    display: grid;
    grid-template-rows: 40rem calc(100vh - 40rem);
  }
}
.table {
  &__container {
    background-image: linear-gradient(
      rgba($color-secondary, 0.9),
      rgba($color-primary-dark, 0.95)
    );
    display: grid;
    align-content: center;
    justify-content: center;
  }
  &__content {
    /* collapse all table borders into single border */
    border-collapse: collapse;
    border-radius: 1rem 1rem 0 0;
    /* table rows still have square borders - overflow hidden ensures border radius set on table will 
    display nicely */
    overflow: hidden;
    /* stop text dropping a line */
    white-space: nowrap;
    box-shadow: 0 0.5rem 1.5rem $color-secondary;
  }
  &__header {
    background-color: $color-secondary;
    color: $color-grey-1;
    font-size: 1.5rem;
    border-bottom: 0.1rem solid $color-grey-2;
  }

  &__row {
    font-size: 1.5rem;
    height: 5rem;
    &:hover {
      cursor: pointer;
    }

    &--THG {
      background-color: white;
      &:hover {
        background: linear-gradient(
          $color-primary,
          $color-primary-dark,
          $color-primary
        );
        color: $color-grey-1;
      }
    }
    &--Lions {
      background-color: $color-grey-1;
      &:hover {
        background: linear-gradient(#b31900, #801504, #b31900);
        color: $color-grey-1;
      }
    }
    &--EGFC {
      background-color: white;
      border-bottom: 1px solid $color-grey-2;
      &:hover {
        background: linear-gradient($color-secondary, black, $color-secondary);
        color: #f6be00;
      }
    }
  }
}

th,
td {
  padding: 1.2rem;
}

.shirt-sale {
  &__container {
    grid-row: 2 /3;
    display: grid;
    /* align title horizontally */
    justify-content: center;
    background-image: linear-gradient(
      rgba($color-primary-dark, 0.95),
      rgba($color-grey-1, 0.1)
    );
  }
  &__image {
    transition: all 0.5s;
    width: 20vw;
    cursor: pointer;
  }
}

@keyframes water-wave {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    top: -30%;
  }
  50% {
    top: -50%;
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    top: -30%;
  }
}
