.table {
  &__container {
    display: grid;
    grid-template-rows: 15rem calc(80vh - 15rem);
  }
  &__title {
    grid-row: 1 /2;
    background-color: $color-primary-dark;
    display: flex;
    /* align title horizontally */
    justify-content: center;
    /* align title vertically */
    align-items: center;
  }
}

.ptable {
  display: grid;
  /* align content horizontally */
  justify-content: center;
  /* align content vertically */
  align-content: center;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
}

th {
  background-color: black;
  color: $color-primary;
}

.wpos {
  text-align: center;
}
.wpos td {
  color: #77ff21;
}

.wpos:hover {
  background-color: #77ff21;
}

.wpos:hover td {
  color: #000000;
}

table .col {
  border-bottom: 1px solid #ffffff;
}
