.table {
  &__container {
    display: grid;
    grid-template-rows: 5rem calc(80vh - 5rem);
  }
  &__title {
    grid-row: 1 /2;
    background-color: $color-primary-dark;
    display: flex;
    /* align title horizontally */
    justify-content: center;
    /* align title vertically */
    align-items: center;
  }
}

.ptable {
  display: grid;
  /* align content horizontally */
  justify-content: center;
  /* align content vertically */
  align-content: center;
  /* collapse all table borders into single border */
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
}

tr {
  background-color: $color-grey-1;
  font-size: 1.5rem;
  &:hover {
    background-color: red;
  }
}

.wpos {
  text-align: center;
  color: red;
  &:hover {
    cursor: pointer;
    color: white;
  }
}

.wpos:hover td {
  color: #000000;
}

table .col {
  border-bottom: 1px solid #ffffff;
}
