.table-sale {
  &__container {
    grid-column: col-end 7 / full-end;
    display: grid;
    grid-template-rows: 10rem 30rem calc(100vh - 40rem);
  }
}
.table {
  &__title {
    background-color: $color-primary-dark;
    display: flex;
    /* align title horizontally */
    justify-content: center;
    /* align title vertically */
    align-items: center;
    grid-row: 1 / 2;
  }
  &__container {
    grid-row: 2 /3;
    display: grid;
    /* align content vertically at start */
    align-content: center;
    justify-content: center;
  }
  &__content {
    /* collapse all table borders into single border */
    border-collapse: collapse;
  }
  &__header {
    background-color: $color-secondary;
    color: $color-grey-1;
    font-size: 1.5rem;
    border-bottom: 1px solid $color-grey-2;
  }

  &__row {
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
    }

    &--THG {
      background-color: white;
      &:hover {
        background-color: $color-primary-dark;
        color: $color-grey-1;
      }
    }
    &--Lions {
      background-color: $color-grey-1;
      &:hover {
        background-color: #b31900;
        color: $color-grey-1;
      }
    }
    &--EGFC {
      background-color: white;
      &:hover {
        background-color: black;
        color: #f6be00;
      }
    }
  }
}

th,
td {
  padding: 1.2rem;
}

.shirt-sale {
  &__container {
    grid-row: 3 /4;
    display: grid;
    /* align title horizontally */
    justify-content: center;
    background-image: linear-gradient(
      rgba($color-primary-dark, 0.7),
      rgba($color-grey-1, 0.1)
    );
  }
  &__image {
    transition: all 0.5s;
    width: 20vw;
    cursor: pointer;
  }
}
