.table {
  &__container {
    grid-column: col-end 4 / col-start 8;
    background-image: linear-gradient(
      rgba($color-grey-1, 0.9),
      rgba($color-secondary, 0.95)
    );
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  &__title {
    padding-bottom: 2rem;
  }
  &__content {
    /* collapse all table borders into single border */
    border-collapse: collapse;
    border-radius: 1rem 1rem 0 0;
    /* table rows still have square borders - overflow hidden ensures border radius set on table will 
    display nicely */
    overflow: hidden;
    /* stop text dropping a line */
    white-space: nowrap;
    box-shadow: 0 0.5rem 1.5rem $color-secondary;
  }
  &__header {
    background-color: $color-secondary;
    color: $color-grey-1;
    font-size: 1.6rem;
    border-bottom: 0.1rem solid $color-grey-2;
  }

  &__row {
    font-size: 1.6rem;
    &:hover {
      cursor: pointer;
    }

    &--THG {
      background-color: white;
      &:hover {
        background: linear-gradient(
          $color-primary,
          $color-primary-dark,
          $color-primary
        );
        color: $color-grey-1;
      }
    }
    &--Lions {
      background-color: $color-grey-1;
      &:hover {
        background: linear-gradient(#b31900, #801504, #b31900);
        color: $color-grey-1;
      }
    }
    &--EGFC {
      background-color: white;
      border-bottom: 1px solid $color-grey-2;
      &:hover {
        background: linear-gradient($color-secondary, black, $color-secondary);
        color: #f6be00;
      }
    }
  }
}

th,
td {
  padding: 1.5rem;
}

.players {
  background-color: $color-primary-dark;
  display: grid;
  grid-column: col-start 8 / full-end;
  padding: 3rem;
  align-content: center;
  // justify-content = centered horizontally
  justify-content: center;
  // list is treated as second row (implicit grid - so grid-row-gap provides space
  // space is 2rem between top 3 goalscorers and the images/ list in list
  grid-row-gap: 2rem;
  // center the title horizontally
  justify-items: center;

  /* MEDIA QUERY - when width of screen is 87.5rem ($bp-largest) */
  @media only screen and (max-width: $bp-largest) {
    grid-column: full-start / full-end;
    grid-row: 6 / 7;
  }
  &__list {
    display: grid;
    /* first column for images, second for the text */
    // image is 15rem - so going to set it to min-content - so it fits the image nicely
    // for the text - using max-content - (so doesn't create any line breaks in our text)
    grid-template-columns: min-content max-content;
    //need to define some spacing - columns and rows
    grid-column-gap: 2rem;
    // row 5% of viewport height - because margin spacing should change whenever change height of viewport
    grid-row-gap: 3vh;
    // align the text in grid vertically
    align-items: center;
    // align the text in grid horizontally
    justify-items: center;
    /* largest being 87.5em - 1400px */
    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: repeat(3, min-content max-content);
    }
    /* large being 62.5em - 1000px */
    @media only screen and (max-width: $bp-large) {
      // spreading out the columns a bit more than by 2rem
      grid-column-gap: 4rem;
    }
    /* medium being 50em - 800px */
    @media only screen and (max-width: $bp-medium) {
      // go back to the two column of min-content for player image then max content for text so no line break
      grid-template-columns: min-content max-content;
      // decreasing the grid-row-gap to 2% of viewport height - appearance
      grid-row-gap: 2vh;
      // align the text of goalscores at start - horizontally
      justify-items: start;
    }
  }

  &__img {
    /* width: 150px */
    width: 8rem;
    border-radius: 50%;
    display: block;
    /* large being 62.5em - 1000px */
    @media only screen and (max-width: $bp-large) {
      width: 6rem;
    }
  }

  &__goals {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $color-grey-1;
    // move the text up slightly so not too far away from players names
    margin-top: -3px;
    /* large being 62.5em - 1000px */
    @media only screen and (max-width: $bp-large) {
      font-size: 0.75rem;
      margin-top: 0px;
    }
  }
  &__name {
    /* large being 62.5em - 1000px */
    @media only screen and (max-width: $bp-large) {
      line-height: 1.7rem;
    }
  }
}
