.video-sale {
  &__container {
    grid-column: col-end 7 / full-end;
    display: grid;
    grid-template-rows: 40rem calc(100vh - 60rem);
  }
}
.player {
  max-width: 100%;
  display: grid;
  background: $color-secondary;
  &__text-container {
  }
  &__title {
  }
}
video {
  display: grid;
  width: 100%;
  height: auto;
}

.shirt-sale {
  &__container {
    grid-row: 2 /3;
    display: grid;
    /* align title horizontally */
    justify-content: center;
    background-image: linear-gradient(
      rgba($color-primary-dark, 0.95),
      rgba($color-grey-1, 0.1)
    );
  }
  &__image {
    width: 20vw;
    cursor: pointer;
  }
}
