// COLOR VARIABLES
$color-primary: #0c22e8; // Brighter blue
$color-primary-dark: #0a19a1; // blue

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nuniote', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;   // 600px;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: $font-primary;
    color: #FFFFFF;
}

.container {
    display: grid;
    grid-template-rows: 
    grid-template-columns: 

    @media only screen and (max-width: $bp-large) {
        grid-template-rows: 
        grid-template-columns: 
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 
    }
}